*{
  margin: 0px;
  padding: 0px;
}

.title>h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold;
}

.bg-card{
margin: auto;
margin-top:50px;
min-height: 80vh;
max-width:fit-content;
border:black solid 1px ;
display: flex;
flex-direction: column;
background-color: rgba(139, 168, 177, 0.418);
border-radius: 1.5rem;
}

.todoMain{
  padding: 1rem;
  /* border: black solid 1px; */
  margin: 2rem;
  height: 100%;
  flex-grow: 1;
  background-color:#ccd5ae;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1.5rem;
  
  
}
input{
  border:none;
  padding: 5px;
  margin-top: 1rem;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 0.5em;
}

 li{
  margin: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title{
 display:flex;
}
.title>img{
  height: 2rem;
  width: 2rem;
  justify-content: space-between;
}

button{
  border: black solid 2px;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
}
